<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
  
    <title>Bootstrap demo</title>
    
  </head>
  
  <body>
  
    <section>
    
    
    <!-- messages of success and error -->
					<div th:if="${session.message}" class="text-center pt-5" style="margin-bottom: -100px;">
						<div th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
				  			<span th:text="${session.message.content}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
    
					
		<div class="container" style="margin-top: 100px;">
		
		
		<div class="row">
		
			<div class="col-md-9 mt-5">
			
				<div class="card mb-3 shadow" style="border: none;">
				  <div class="card-body pt-2 pb-0">
				    
				    <div class="row row-cols-auto">
				    	<div class="col">
				    		<h5 class="card-title fw-bold" th:text="${currentUser.name + ' ' + currentUser.surname}"></h5>
				    	</div>
				    	<div class="col">
				    		<p th:text="'+91' + ${currentUser.mobilenum}"></p>
				    	</div>
				    </div>
				    
				  </div>
				</div>
				
				
				
				<div class="card mb-3 shadow" style="width: 100%; border: none">
            
            
            	<div class="card-body" style="font-family: sans-serif"> 
                
            	<button id="addAddress" style="all:unset;width: 100%;" onclick="openAddressForm()">            
            	<input style="cursor: pointer;font-size: 15px;" class="bg-primary text-light shadow form-control" value="+ ADD A NEW ADDRESS" disabled="disabled">
            	</button>
            	
            	<form id="address_form" th:action="@{/user/add-address}" class="row g-3" method="post" style="display: none;" th:object="${address}">
            	            	
            	<input type="hidden" name="paymentpage" th:value="yes">
            	
            		<div class="col-md-6">
					    <div class="form-floating mb-3">
						  <input type="text"
						   class="form-control"
						    name="name"
						     id="floatingInput"
						      placeholder="Name"
						      th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
						      th:value="${address.name}">
						      <div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingInput">Name</label>
						</div>
					  </div>
					  
					  <div class="col-md-6">
					    <div class="form-floating mb-3">
						  <input type="number"
						   class="form-control"
						    name="mobilenum"
						     id="floatingInput"
						      placeholder="Number"
							  th:classappend="${#fields.hasErrors('mobilenum') ? 'is-invalid' : ''}"
						      th:value="${address.mobilenum}">
						      <div th:each="e : ${#fields.errors('mobilenum')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingInput">Number</label>
						</div>
					  </div>
					  
					  <div class="col-md-12">
					  <div class="form-floating">
						  <textarea class="form-control" placeholder="Address" name="fullAddress" id="floatingTextarea2" style="height: 100px" th:classappend="${#fields.hasErrors('fullAddress') ? 'is-invalid' : ''}" th:text="${address.fullAddress}"></textarea>
						  <div th:each="e : ${#fields.errors('fullAddress')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingTextarea2">Address</label>
						</div>
					  </div>
					  
					  <div class="col-md-6">
					    <div class="form-floating mb-3">
						  <input type="text"
						   class="form-control"
						    name="city"
						     id="floatingInput"
						      placeholder="City"
							  th:classappend="${#fields.hasErrors('city') ? 'is-invalid' : ''}"
						      th:value="${address.city}">
						      <div th:each="e : ${#fields.errors('city')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingInput">City</label>
						</div>
					  </div>
					  
					  <div class="col-md-6">
					  	<div class="form-floating mb-3">
						  <input type="text"
						   class="form-control"
						    name="state"
						     id="floatingInput"
						      placeholder="State"
						      th:classappend="${#fields.hasErrors('state') ? 'is-invalid' : ''}"
						      th:value="${address.state}">
						      <div th:each="e : ${#fields.errors('state')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingInput">State</label>
						</div>
					  </div>
					  
					  <div class="col-md-6">
					    <div class="form-floating mb-3">
						  <input type="number"
						   class="form-control"
						    name="pincode"
						     id="floatingInput"
						      placeholder="Pincode"
						      th:classappend="${#fields.hasErrors('pincode') ? 'is-invalid' : ''}"
						      th:value="${address.pincode}">
						      <div th:each="e : ${#fields.errors('pincode')}" th:text="${e}" class="invalid-feedback"></div>
						  <label for="floatingInput">Pincode</label>
						</div>
					  </div>
					  
					  <div class="col-md-5">
					  <div class="form-group mb-4">
						<label class="me-4 ms-1 fw-bold" style="font-size: 20px;">Address Type</label>
						<div class="mt-2">
						<label class="radio-inline me-3"> <input name="addressType" class="ms-1 me-2" type="radio" checked="checked" value="home">Home</label>
						<label class="radio-inline"><input name="addressType" type="radio" class="me-2" value="work">Work</label>
						</div>
					  </div>
					  </div>
					  
					  <div class="col-md-3">
					  	<button style="width: 200px;" type="submit" class="btn btn-primary">SAVE</button>
					  </div>
					  <div class="col-md-2 d-flex">
					  	<a id="cancel" style="text-decoration: none;cursor: pointer;" class="mt-2">CANCEL</a>
					  </div>
            	
            	</form>
            	
            
            </div>
            
            
            
          </div>
				
				
				<form th:action="@{/user/submit-order}" method="post">
				
				
					<div class="card mb-3 shadow" style="border: none;">
				  <div class="card-header bg-primary text-light">
				    DELIVERY ADDRESS
				  </div>
				  <div class="card-body border" th:each="a : ${addresses}" style="font-family: sans-serif;">
				    
				    <input class="form-check-input me-3" th:checked="${a  == addresses[0]}" type="radio" name="orderAddress" th:value="${a.id}" id="flexRadioDefault1">
				    <label class="form-check-label" for="flexRadioDefault1">
				    <div class="row row-cols-auto fw-bold">
				    <div class="col"><h6 class="card-title fw-bold mt-1" th:text="${a.name}"></h6></div>
				    <div class="col"><span class="badge text-bg-secondary mb-2" th:text="${a.addressType}"></span></div>
				    <div class="col"><p th:text="${a.mobilenum}"></p></div>
				    </div>
				    
				    <p th:text="${a.fullAddress + ',' + a.city + ',' + a.state + ' - ' + a.pincode}"></p>
				    </label>
				    
				  </div>
				</div>
				
          
          
          
          <div class="card mb-3 shadow">
          
          	<div class="card-header bg-primary text-light">
			    SELECT A PAYMENT METHOD
			  </div>
			  <div class="card-body">
			    <div class="row">
			    
			    	<div class="col-md-10">
			    		<div class="form-check form-check-inline mb-2">
						  <input class="form-check-input" type="radio" name="paymentOption" id="exampleRadios1" value="Cash On Delivery" checked>
						  <label class="form-check-label" for="exampleRadios1">
						    Cash On Delivery
						  </label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="paymentOption" id="exampleRadios2" value="Online Payment">
						  <label class="form-check-label" for="exampleRadios2">
						    Online Payment
						  </label>
						</div>
						
						<input type="hidden" name="orderAmount" th:value="${totalDiscountPrice}">
						
			    	</div>
			    	
			    	<div class="col-md-2">
			    		<button type="submit" class="btn btn-primary">SEND ORDER</button>
			    	</div>
			    
			    </div>
				
			  </div>
          
          </div>
				
				
				</form>
          
				
				
			
			</div>
			
			
			<div class="col-md-3 mt-5">
			
				<div class="position-fixed">
				
				<div class="card shadow" style='width:300px;font-family:serif;'>
							<div class="card-header text-center">
							    PRICE DETAILS
							  </div>
							  <div class="card-body">
							    <table class="table table-borderless">
								  <tbody>
								    <tr>
								      <th>Price (<span th:text="${#lists.size(cart)}"></span> item)</th>
								      <th> <div class='ms-2'>&#8377;<span th:text="${totalDiscountPrice}"></span></div> </th>
								    </tr>
								    <tr>
								      <th>Delivery Charges</th>
								      <th> <span class='ms-2 text-success'> FREE </span> </th>
								    </tr>
								  </tbody>
								</table>
							  </div>
							  <div class="card-header">
							    <table class="table table-borderless">
								  <tbody>
								    <tr>
								      <th>Total Payable</th>
								      <th> <div style='margin-left:45px;'>&#8377;<span th:text="${totalDiscountPrice}"></span></div> </th>
								    </tr>
								  </tbody>
								</table>
							  </div>
							</div>
				
				</div>
			
			</div>
		
		</div>
		
    
  		</div>

	
	</section>
      
  </body>
</html>