<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <title>Bootstrap demo</title>
    
  </head>
  
  <body>
  
    <section style="background: white;min-height: 100vh;">
    
    <link rel="stylesheet" th:href="@{/css/admin.css}" />

	<div class="container py-5">
	
		<div class="row" style="padding-top: 40px;">
		
		
					<!-- messages of success and error -->
					<div th:if="${session.message}" class="text-center" style="padding-bottom: -40px;">
						<div th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
				  			<span th:text="${session.message.content}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					
					
					
					<div class="mb-4">
					
					<form th:action="@{/admin/current-orders}" method="get">
					
						<div class="row">
							
								<div class="col-md-10">
						
									<div class="form-floating">
									  <select class="form-select" name="statusSelect">
									    <option value="all" selected>All</option>
										<option value="Awaiting Payment">Awaiting Payment</option>
										<option value="Awaiting Pickup">Awaiting Pickup</option>
										<option value="Partially Shipped">Partially Shipped</option>
									  </select>
									  <label for="floatingSelect">Select By Status</label>
									</div>
								
								</div>
						
								<div class="col-md-2">
									<button class="btn btn-primary btn-lg w-100" style="height: 60px;">Show Orders</button>
								</div>
						
						</div>
					</form>
			
					</div>
					
					
			<div class="col-md-12">
				
				<table class="table table-primary table-striped table-hover table-bordered shadow table-responsive">
				  <thead>
				    <tr>
				      <th scope="col">ORDER ID</th>
				      <th scope="col">USER ID</th>
				      <th scope="col">PRODUCT ID</th>
				      <th scope="col">ORDER DATE</th>
				      <th scope="col">Delivery Date</th>
				      <th scope="col">STATUS</th>
				      <th scope="col">PAYMENT TYPE</th>
				      <th scope="col">ACTION</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="o : ${orders}">
				      <th scope="row" th:text="${o.order_id}"></th>
				      <td th:text="${o.user.userId}"></td>
				      <td th:text="${o.product.pId}"></td>
				      <td th:text="${o.createdDate}"></td>
				      <td>
				      
				      <form th:action="@{'/admin/change-status/'+${o.order_id}}" method="post">
				      
				      <input th:id="'deliverychange_status'+${o.order_id}" disabled type="date" th:value="${#strings.substring(o.deliveryDate,0,10)}" name="deliveryDate">
				      </td>
				      
				      <td>
				      
				      	<div class="form-floating">
						  <select disabled class="form-select" name="status" th:id="'statuschange_status'+${o.order_id}">
						    <option th:text="${o.status}" th:value="${o.status}" selected></option>
						    <option th:if="${o.status} != 'Awaiting Payment'" value="Awaiting Payment">Awaiting Payment</option>
						    <option th:if="${o.status} != 'Awaiting Pickup'" value="Awaiting Pickup">Awaiting Pickup</option>
						    <option th:if="${o.status} != 'Partially Shipped'" value="Partially Shipped">Partially Shipped</option>
						    <option th:if="${o.status} != 'Completed'" value="Completed">Completed</option>
						  </select>
						  <label for="floatingSelect">Change Status</label>
						</div>
				      
				      </td>
				      
				      <td th:text="${o.paymentType}"></td>
				      
				      <td>
				      <a class="btn btn-sm btn-primary text-light ms-2" th:id="'change_status'+${o.order_id}" th:onclick="|enableStatus('change_status'+'${o.order_id}')|" style="color: black;">EDIT</a>
				      
				      <button th:id="'btnchange_status'+${o.order_id}" disabled="disabled" type="submit" class="btn btn-sm btn-primary text-light ms-2">SAVE</button>
				      
				      </form>
				      	
				      </td>
				      
				    </tr>
				  </tbody>
				</table>
							
			</div>
		
		
		</div>
		
	</div>
	
	
	<script th:src="@{/js/admin.js}"></script>
	
	</section>
      
  </body>
</html>