<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="bs::layout(~{::section})">
<head>

</head>
<body>

	<!-- Start Products Area -->
	<section class="products-area pt-100 pb-70">
		<div class="container">
			<div class="products-filter-options">
				<div class="row align-items-center">
				
				
				<!-- messages of success and error -->
				<div th:if="${session.message}" class="text-center">
					<div th:classappend="${session.message.type}"
						class="alert alert-primary" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<!-- end error and success message -->
				
				
					<div class="col-lg-4 col-md-4">
						<div class="d-lg-flex d-md-flex align-items-center">
							<span class="sub-title"><a href="#" data-bs-toggle="modal"
								data-bs-target="#productsFilterModal"><i
									class='bx bx-filter-alt'></i> Filter</a></span> <span
								class="sub-title d-none d-lg-block d-md-block">View:</span>

							<div class="view-list-row d-none d-lg-block d-md-block">
								<div class="view-column">
									<a href="#" class="icon-view-two"> <span></span> <span></span>
									</a> <a href="#" class="icon-view-three active"> <span></span>
										<span></span> <span></span>
									</a> <a href="#" class="icon-view-four"> <span></span> <span></span>
										<span></span> <span></span>
									</a> <a href="#" class="view-grid-switch"> <span></span> <span></span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4">
						<p>
							Showing 1 - <span th:text="${#lists.size(products)}"></span>
						</p>
					</div>

					<div class="col-lg-4 col-md-4">
						<div class="products-ordering-list">
							<select class="form-select" id="sortingDropdown">
								<option value="default">Default Sorting</option>
								<option value="Price:LowToHigh">Sort by Price: Low to
									High</option>
								<option value="Price:HighToLow">Sort by Price: High to
									Low</option>
								<option value="Latest">Sort by Latest</option>
								<option value="Rating">Sort by High Rating</option>
								<option value="Popularity">Sort by Popularity</option>
								<option value="HighDiscount">Sort by High Discount</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div id="products-collections-filter" class="row">
			<i class="text-center fs-3" th:if="${products == null or products.isEmpty()}">No Products Found For this Filter</i>
				<div class="col-lg-4 col-md-6 col-sm-6 products-col-item"
					th:each="product : ${products}">
					<div class="single-productsBox">
						<div class="products-image">
							<a th:href="@{'/product/' + ${product.id}}"> <img style="height: 60vh;"
								th:src="@{'/product_img/' + ${product.productImages[0].productPic}}"
								class="main-image" alt="image"> <img style="height: 60vh;"
								th:src="@{'/product_img/' + ${product.productImages[1].productPic}}"
								class="hover-image" alt="image">
							</a>

							<div class="products-button">
								<ul>
									<li>
										<div class="wishlist-btn">
											<a th:href="@{'/user/account/add-to-wishlist/' + ${product.id}}"> <i class='bx bx-heart'></i> <span
												class="tooltip-label">Add to Wishlist</span>
											</a>
										</div>
									</li>
									<li>
										<div class="compare-btn">
											<a th:href="@{'/user/product-compare/add-compare-product/' + ${product.id}}"> <i class='bx bx-refresh'></i> <span
												class="tooltip-label">Compare</span>
											</a>
										</div>
									</li>
									<li>
										<div class="quick-view-btn">
											<a id="quickViewModal" href="#" data-bs-toggle="modal"
											 th:data-productname="${product.name}"
											 th:data-productprice="${product.price}"
											 th:data-productpriceafterdiscount="${product.getPriceAfterApplyingDiscount}"
											 th:data-productimageurl="@{'/product_img/' + ${product.productImages[0].productPic}}"
											 th:data-brandname="${product.brandName}"
											 th:data-avgrating="${product.avgRating}"
											 th:data-quantity="${product.quantity}"
											 th:data-category="${product.category.title}"
											 th:data-viewfullinfourl="@{'/product/' + ${product.id}}"
												data-bs-target="#productsQuickView"> <i
												class='bx bx-search-alt'></i> <span class="tooltip-label">Quick
													View</span>
											</a>
										</div>
									</li>
								</ul>
							</div>

							<div class="new-tag">New!</div>
						</div>

						<div class="products-content">
							<span class="category" th:text="${product.category.title}"></span>
							<h3>
								<a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"> Long Sleeve Leopard
									T-Shirt</a>
							</h3>
							<div class="star-rating">
								<span th:each="i : ${#numbers.sequence(1, 5)}"> <i
									th:if="${product.avgRating >= i}" th:class="'bx bxs-star'"></i>
									<i th:unless="${product.avgRating >= i}"
									th:if="${product.avgRating >= i - 0.5}"
									th:class="'bx bxs-star-half'"></i> <i
									th:unless="${product.avgRating >= i || product.avgRating >= i - 0.5}"
									th:class="'bx bx-star'"></i>
								</span> <span class="text-dark fw-bold" th:text="${product.avgRating}"></span>
							</div>
							<div class="price">
								<i
									class="fa-solid fa-indian-rupee-sign text-muted text-decoration-line-through"></i>
								<span class="old-price" th:text="${product.price}"></span> <i
									class="fa-solid fa-indian-rupee-sign"></i> <span
									class="new-price"
									th:text="${product.getPriceAfterApplyingDiscount}"></span>
							</div>
							<a th:href="@{'/user/cart/add-to-cart/' + ${product.id}}" class="add-to-cart">Add to Cart</a>
						</div>

						<span class="products-discount"> <span
							th:text="${product.discount} + '% OFF'"></span>
						</span>
					</div>
				</div>


			</div>

			<div th:unless="${products == null or products.isEmpty()}" class="pagination-area text-center">
				<a id="prev-button" href="javascript:void(0);"
					onclick="decreasePage()" class="prev page-numbers me-2"> <i style="font-family: monospace;"><i
						class='bx bx-chevron-left'></i><span th:text="PREV"></span></i></a>
				 
				 <a id="next-button" href="javascript:void(0);"
					onclick="increasePage()" class="next page-numbers ms-2"> <i style="font-family: monospace;"><span
						th:text="NEXT"></span><i class='bx bx-chevron-right'></i></i></a>
						
				<div id="hasNextPageData" th:attr="data-hasNextPage=${hasNextPage}"
					style="display: none;"></div>
			</div>
		</div>
		
		
		
		<!-- Start Products Filter Modal Area -->
	<div class="modal left fade productsFilterModal"
		id="productsFilterModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-bs-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"><i class='bx bx-x'></i> Close</span>
				</button>

				<div class="modal-body">
					<div class="woocommerce-widget-area">
						<div class="woocommerce-widget filter-list-widget">
							<h3 th:classappend="${param.size() == 0} ? 'd-none' : ''"
								class="woocommerce-widget-title">Current Selection</h3>

							<div class="selected-filters-wrap-list">
								<ul>
									<li th:if="${param.sortType != null}">
									    <a style="cursor: pointer;" onclick="removeParamFromUrl('sortType')">
									        <span th:text="${'Sort By : ' + param.sortType}"></span>
									        <i class='bx bx-x'></i>
									    </a>
									</li>

									<li th:if="${param.brandName != null}">
										<a style="cursor: pointer;" onclick="removeParamFromUrl('brandName')">
											<span th:text="${'Brand : ' + #strings.capitalize(param.brandName)}"></span>
											<i class='bx bx-x'></i>
										 </a>
									</li>

									<li th:if="${param.categoryId != null}">
										<a style="cursor: pointer;" onclick="removeParamFromUrl('categoryId')">
											<span th:text="${'Category : ' + #strings.capitalize(param.categoryId)}"></span>
											<i class='bx bx-x'></i>
										</a>
									</li>
									
									<li th:if="${param.minPrice != null}">
										<a style="cursor: pointer;" onclick="removeParamFromUrl('minPrice')">
											<span th:text="${'Minimum Price : ' + param.minPrice}"></span>
											<i class='bx bx-x'></i>
										</a>
									</li>
									
									<li th:if="${param.maxPrice != null}">
										<a style="cursor: pointer;" onclick="removeParamFromUrl('maxPrice')">
											<span th:text="${'Maximum Price : ' + param.maxPrice}"></span>
											<i class='bx bx-x'></i>
										</a>
									</li>
								</ul>

								<a th:href="@{/product/page=0}"
									th:classappend="${param.size() == 0} ? 'd-none' : ''"
									class="delete-selected-filters"><i class='bx bx-trash'></i>
									<span>Clear All</span></a>
							</div>
						</div>

						<div class="woocommerce-widget collections-list-widget">
							<h3 class="woocommerce-widget-title">Collections</h3>

							<ul class="collections-list-row"
								th:each="category : ${categories}">
								<li><a th:text="${category.title}"
									th:data-categoryId="${category.id}" href="javascript:void(0);"
									onclick="updateUrlWithCategoryId(this)"></a></li>
							</ul>
						</div>

						<div class="woocommerce-widget price-list-widget">
							<h3 class="woocommerce-widget-title">Price</h3>

							<div class="collection-filter-by-price">
								<div class="form-group row">
									<div class="col">
										<input class="form-control" id="minPrice" type="number"
											name="minPrice" placeholder="&#x20B9; Min">
									</div>
									<div class="col">
										<input class="form-control" id="maxPrice" type="number"
											name="maxPrice" placeholder="&#x20B9; Max">
									</div>
									<div class="col">
										<button class="form-control btn btn-outline-dark"
											id="filterButton" disabled>Filter</button>
									</div>
								</div>
							</div>



						</div>

						<div class="woocommerce-widget brands-list-widget">
							<h3 class="woocommerce-widget-title">Brands</h3>

							<ul class="brands-list-row"
								th:each="allBrandNm : ${allBrandName}">
								<li><a th:text="${allBrandNm}"
									th:data-brandname="${allBrandNm}"
									href="javascript:void(0);"
									onclick="updateUrlWithBrandName(this)"></a></li>
							</ul>

						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Products Filter Modal Area -->
		
		


		<script>
			$(document)
					.ready(
							function() {
								// Listen for change event on the sorting dropdown
								$('#sortingDropdown')
										.on(
												'change',
												function() {
													var selectedOption = $(this)
															.val();
													var currentUrl = window.location.href;

													// Remove existing "sort" parameter if present
													var updatedUrl = currentUrl
															.replace(
																	/[\?&]sortType=[^&]+/,
																	"");

													// Append the selected option as a new "sort" parameter
													selectedOption != "default" ? (updatedUrl += (updatedUrl
															.indexOf("?") !== -1 ? "&"
															: "?")
															+ "sortType="
															+ selectedOption)
															: updatedUrl;

													// Update "page" parameter to 0
													updatedUrl = updatedUrl
															.replace(
																	/page=\d+/,
																	"page=0");

													// Navigate to the updated URL
													window.location.href = updatedUrl;
												});

								// Highlight the selected option on page load
								var selectedSortType = getUrlParameter('sortType');
								$(
										'#sortingDropdown option[value="'
												+ selectedSortType + '"]')
										.prop('selected', true);
							});

			// Function to get URL parameter value
			function getUrlParameter(name) {
				var urlParams = new URLSearchParams(window.location.search);
				return urlParams.get(name);
			}

			//next page
			function increasePage() {
				var currentUrl = window.location.href;
				var currentPage = parseInt(currentUrl.match(/page=(\d+)/)[1]);

				var hasNextPageData = document
						.getElementById('hasNextPageData');
				var hasNextPageValue = hasNextPageData
						.getAttribute('data-hasNextPage');
				var hasNextPage = hasNextPageValue === 'true'; // Convert the string to a boolean

				if (hasNextPage) {
					var updatedUrl = currentUrl.replace(/(page=)(\d+)/,
							function(match, prefix, page) {
								var nextPage = parseInt(page) + 1;
								return prefix + nextPage;
							});

					window.location.href = updatedUrl;
				} else {
					var nextButton = document.getElementById('next-button');
					nextButton.classList.add('disabled');
					nextButton.setAttribute('disabled', 'disabled');
				}
			}

			//prev page
			function decreasePage() {
				var currentUrl = window.location.href;
				var currentPage = parseInt(currentUrl.match(/page=(\d+)/)[1]);

				if (currentPage > 0) {
					var updatedUrl = currentUrl.replace(/(page=)(\d+)/,
							function(match, prefix, page) {
								var prevPage = parseInt(page) - 1;
								return prefix + prevPage;
							});

					window.location.href = updatedUrl;
				} else {
					// Disable the "Previous" button or handle it as needed
					// For example, add the 'disabled' class to the button
					var prevButton = document.getElementById('prev-button'); // Replace with your button ID
					prevButton.classList.add('disabled text-muted');
					prevButton.setAttribute('disabled', 'disabled');
				}
			}
		</script>




	</section>
	<!-- End Products Area -->

</body>
</html>