<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="bs::layout(~{::section})">
<head>
</head>
<body>

	
	<!-- Start SignUP Area -->
	<section class="signup-area ptb-100">
		<div class="container">
			<div class="signup-content">
				<h2>Create an Account</h2>

				<!-- start messages of success and error -->
				<div th:if="${session.message}" class="text-center">
					<div th:classappend="${session.message.type}"
						class="alert alert-primary" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<!-- end messages of success and error -->

				<form id="signup_form" class="signup-form" th:action="@{/do_signup}"
					method="post" th:object="${user}">
					<div class="form-group">
						<label>FULL NAME</label> <input type="text" name="fullName"
							th:classappend="${#fields.hasErrors('fullName') ? 'is-invalid' : ''}"
							th:value="${user.fullName}" class="form-control"
							placeholder="Enter your full name" id="fname">
						<div th:each="e : ${#fields.errors('fullName')}" th:text="${e}"
							class="text-red-500 text-xs invalid-feedback"></div>
					</div>

					<div class="form-group">
						<label>Email</label> <input type="email" name="email"
							th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
							th:value="${user.email}" class="form-control"
							placeholder="Enter your email" id="name">
						<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
							class="text-red-500 text-xs invalid-feedback"></div>
					</div>

					<div class="form-group">
						<label>Password</label> <input type="password" name="password"
							th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
							th:value="${user.password}" class="form-control"
							placeholder="Enter your password" id="password">
						<div th:each="e : ${#fields.errors('password')}" th:text="${e}"
							class="text-red-500 text-xs invalid-feedback"></div>
					</div>

					<button type="submit" class="default-btn">Signup</button>

					<a href="index.html" class="return-store">or Return to Store</a>
				</form>
			</div>
		</div>
	</section>
	<!-- End SignUP Area -->
	

</body>
</html>